.profile {
    grid-area: content;
}

.profile__cover {
    width: 100%;
    height: 130px;
}

.user__avatar {
    width: 150px;
    height: auto;
}

.posts__author-avatar {
    width: 30px;
    height: auto;
}