.wrapper {
    grid-area: content;

    background: #F0F0F0;
    /*border: 1px solid #292d31;*/
    box-shadow: inset 0 0 1px 0 #414040, 0 0 1px 0 #414040;

    padding: 10px;
}

.list {
    max-width: 60%;
}

.button {
    display: block;
    margin: 0 auto;
}