.wrapper {
    display: flex;
    flex-direction: column;
    padding-left: 0;

    align-items: flex-start;
}

.message {
    padding: 10px;
    margin-bottom: 20px;

    border: 1px solid grey;
    border-radius: 20px;

    max-width: 240px;
    min-width: 60px;

    overflow-wrap: break-word;
    text-align: center;
}