.wrapper {
    background: #fff;

    max-width: 1200px;
    margin: 0 auto;
    
    display: grid;
    grid-template-rows: 70px minmax(0, auto);
    grid-template-columns: 2fr 10fr;
    grid-gap: 10px;

    grid-template-areas:
            "header header"
            "aside content";
}